body{
    background-color:indigo;
    color: cornsilk;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type = 'file']{
    display: none;
}

label{
    background-color: rgb(248, 253, 247);
    color: rgb(82, 82, 82);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid rgb(0, 172, 37);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

label:hover{
    background-color: rgb(0, 172, 37);
    color: white;
}
 
textarea {
    margin-top: 15px;
    width: 50%;
    background-color:rgb(51, 51, 51);
    color:rgb(255, 130, 28);
}


