body{
    background-color: rgb(151, 122, 255);
    margin: 0px;
    font-family: 'Roboto';
}

header{
    background-color: rgb(144, 0, 192);
    display: flex;
    justify-content: space-between;
    /* padding-top: 3px;
    padding-bottom: 3px; */
}

header h2{
    color: #ffe6e6;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#menuButton{
    background-color: #6892FF;
    width: 50px;
    height: 50px;
    margin-right: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 150ms;
}

#menuButton:hover{
    background-color: #1f5fff;
}

.bars{
    width: 20px;
    height: 20px;
}

#menu{
    background-color: #82A5FF;
    height: 100%;
    width: 0px;
    position: absolute;
    overflow-x: hidden;
}

#menuHeader{
    background-color: #6892FF;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuHeader div{
    margin-left: calc(50% - 46.405px);
    color: #ffffff;
    font-size: medium;
    white-space: nowrap;
}

.close{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.menuItem{
    background-color: #82A5FF;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menuItem:hover{
    background-color: #6892FF;
}

.menuItem div{
    color: #ffffff;
    font-size: medium;
    white-space: nowrap;
}

#buttons{
    display: flex;
    align-items: center;
    margin-left: 122px;
    margin-right: 10px;
}

#switchPageButton{
    background-color: #e65c00;
    color: #ffffff;
    font-size: medium;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e65c00;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition-duration: 0.3s;
    cursor: pointer;
}

#switchPageButton:hover{
    background-color: #ffffff;
    color: #e65c00;
}

input[type = 'file']{
    display: none;
}

label{
    background-color: #ff6666;
    color: #ffffff;
    font-size: medium;
    border: 2px solid #ff6666;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition-duration: 0.3s;
    cursor: pointer;
}

label:hover{
    background-color: #ffffff;
    color: #ff6666;
}

main{
    /* border: 3px solid #da3434;
    border-radius: 8px; 
    display: block;
    width: min-content;
    margin-left: calc(50% - 452px);
    padding: 30px;*/
    color: #ffffff;
    margin-top: 3%;

}

#subtitle{
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

#stepsArea{
    display: flex;
    justify-content: center;

}

.steps{
    width: 160px;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}
.circleArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87A9FF;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.stepTextArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepText{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 200px;
    word-break: break-all;
}

.stepText p{
    text-align: center;
}

#infos{
    color: #f6f6f6;
    display: flex;
    align-items: center;
    width: 180px;
    padding-right: 80px;
    padding-left: 50px;
}

.textarea{
    background-color: rgb(65, 65, 65);
    color: #f19151;
    width: 520px;
    height: 200px;
    border-width: 2px;
    border-color: rgb(207, 206, 206);
    border-radius: 5px;
}

.textarea:focus{
    border-color: rgb(224, 224, 224);
    outline:none;
    box-shadow:none;
}

.textarea::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

.textarea::-webkit-scrollbar-track{
    background-color: #cecece;
}

.textarea::-webkit-scrollbar-thumb{
    background-color: #747474;
    border-radius: 8px;
    border: 1px solid #cecece;
}