body{
    background-color: rgb(151, 122, 204);
    margin: 0px;
    font-family: 'Roboto';
}

header{
    background-color: rgba(134, 0, 179, 30%);
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
    padding-bottom: 3px;
}

header h2{
    color: #ffe6e6;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#buttons{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

main{
    border: 3px solid #da3434;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: min-content;
    margin-top: 10%;
    margin-left: calc(50% - 452px);
    padding: 30px;
}

#infos{
    display: flex;
    align-items: center;
    width: 180px;
    padding-right: 80px;
    padding-left: 50px;
}

.textarea1{
    background-color: rgb(65, 65, 65);
    color: #f19151;
    width: 520px;
    height: 200px;
    border-width: 2px;
    border-color: rgb(207, 206, 206);
    border-radius: 5px;
}

.textarea1:focus{
    border-color: rgb(224, 224, 224);
    outline:none;
    box-shadow:none;
}

.textarea1::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

.textarea1::-webkit-scrollbar-track{
    background-color: #cecece;
}

.textarea1::-webkit-scrollbar-thumb{
    background-color: #747474;
    border-radius: 8px;
    border: 1px solid #cecece;
}

#switchPageButton{
    background-color: #e65c00;
    color: #ffffff;
    font-size: medium;
    border: 2px solid #e65c00;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition-duration: 0.3s;
    cursor: pointer;
}

#switchPageButton:hover{
    background-color: #ffffff;
    color: #e65c00;
}

input[type = 'file']{
    display: none;
}

label{
    background-color: #ff6666;
    color: #ffffff;
    font-size: medium;
    border: 2px solid #ff6666;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition-duration: 0.3s;
    cursor: pointer;
}

label:hover{
    background-color: #ffffff;
    color: #ff6666;
}