body{
    background-color: rgb(151, 122, 255);
    margin: 0px;
    font-family: 'Roboto';
}

header{
    background-color: rgb(144, 0, 192);
    display: flex;
    justify-content: space-between;
    /* padding-top: 3px;
    padding-bottom: 3px; */
}

header h2{
    color: #ffe6e6;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    cursor: pointer;
}

#menuButton{
    background-color: #6892FF;
    width: 50px;
    height: 50px;
    margin-right: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 150ms;
}

#menuButton:hover{
    background-color: #1f5fff;
}

.bars{
    width: 20px;
    height: 20px;
}

#menu{
    background-color: #82A5FF;
    height: 100%;
    width: 0px;
    position: absolute;
    overflow-x: hidden;
}

#menuHeader{
    background-color: #6892FF;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuHeader div{
    margin-left: calc(50% - 46.405px);
    color: #ffffff;
    font-size: medium;
    white-space: nowrap;
}

.close{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.menuItem{
    background-color: #82A5FF;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menuItem:hover{
    background-color: #6892FF;
}

.menuItem div{
    color: #ffffff;
    font-size: medium;
    white-space: nowrap;
}

#buttons{
    display: flex;
    align-items: center;
    margin-left: 122px;
    margin-right: 10px;
}

#switchPageButton{
    background-color: #e65c00;
    color: #ffffff;
    font-size: medium;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e65c00;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition-duration: 0.3s;
    cursor: pointer;
}

#switchPageButton:hover{
    background-color: #ffffff;
    color: #e65c00;
}

main{
    color: #ffffff;
    margin-top: 3%;
}

#subtitle{
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

#stepsArea{
    display: flex;
    justify-content: center;

}

.steps{
    width: 160px;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}
.circleArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87A9FF;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.stepTextArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.stepText{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 200px;
    word-break: inherit;
}

.stepText p{
    text-align: center;
}

#switchInputMode{
    display: flex;
}

.choice{
    color: #ffffff;
    font-size: 18px;
    width: 150px;
    height: 40px;
    border: 2px solid #D2D2D2;
}

#fileChoice{
    background-color: #628EFF;
    border-right-width: 1px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#manualChoice{
    background-color: #8D8D8D;
    border-left-width: 1px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#dragAndDropArea{
    background-color: #A4BDFF;
    width: 650px;
    height: 220px;
    border-radius: 8px;
    border: 1px solid #FF4545;
    display: flex;
    justify-content: center;
    align-items: center;
}